@charset "UTF-8";


.container {
    display: grid;
    grid-template-columns: [site-start] 1fr [content-start] repeat(4, 1fr) [site-end];
    grid-auto-rows: 200px;
    gap: .5rem;
}

.container > * {
    background-color: royalblue;
    padding: 1rem;
    font-size: 4em;
    color: white;
    text-align: center;
}

header, footer {
    grid-column: site;
}

.container div:nth-child(even) {
    background-color: skyblue;
}