@charset "UTF-8";

.container {
    height: 500px;
    background-color: lightyellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:stretch;
}

.bloco1 {
    height: 80px;
    width: 80px;
    background-color: red;
}

.bloco2 {
    height: 80px;
    width: 80px;
    background-color: blue;
}

.bloco3 {
    height: 80px;
    width: 80px;
    background-color: yellow;
}

span {
    background-color: palevioletred;
}